<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{title}}</title>
</head>

<body>
    <div class="container mx-auto">
        <a href="/dashboard"><button style='width: 150px; height:20%' class="btn mx-2 my-1 btn-transparent text-center dash-button">Dashboard</button></a>


        <h1 class="text-center my-3">History</h1>
        <p id="">Net Cash Flow: {{portVal}}</p>
        <table class="table my-2">
            <thead id="history-head" class="thead-primary">
                <tr>
                    <th scope="col" class=" ">Ticker</th>
                    <th scope="col" class=" ">Description</th>
                    <th scope="col" class=" ">Type</th>
                    <th scope="col" class=" ">Price</th>
                    <th scope="col" class=" ">Quantity</th>
                    <th scope="col" class=" ">Total</th>
                    <th scope="col" class=" ">Trade Date</th>
                    <th scope="col" class=" ">iD</th>
                </tr>
            </thead>
            <tbody>
                {{#each history}}
                <tr>
                    <td>{{this.ticker}}</td>
                    <td>{{this.description}}</td>
                    <td>{{this.trans_type}}</td>
                    <td>{{this.price}}</td>
                    <td>{{this.quantity}}</td>
                    <td>{{this.total}}</td>
                    <td>{{this.trade_date}}</td>
                    <td>{{this.id}}</td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>

    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
        crossorigin="anonymous"></script>


    <script type="text/javascript">

        const numFormat = num => {

            return '$' + num.toFixed(2).replace(/(\d)(?=(\d{3})+(?!\d))/g, '$1,')
        }
{{!-- 

        $(document).ready(() => {
            $.ajax({
                type: "GET",
                contentType: "application/json",
                url: "http://localhost:3000/:user_name/holdings"

            })
        }) --}}
    </script>
</body>



</html>