<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{title}}</title>
</head>

<body>
    <div class="container">
        <a href="/dashboard"><button style='width: 150px; height:20%'
                class="btn mx-2 my-1 btn-transparent text-center dash-button">Dashboard</button></a>
        <h1 class="h5 my-5">Let's see how {{userName}} compares to other Ninja Activity</h1>
        <p class="h4 my-3 text-primary">Top Ninjas by Buys</p>
        <table id='' class="display table-striped  my-5">
            <thead class="bg-primary">
                <tr>
                    <th scope="col">Ninja</th>
                    <th scope="col">Buys</th>
                    <th scope="col">Total</th>

                </tr>
            </thead>
            <tbody>
                {{#each buy_results}}
                <tr>
                    <td>{{this.user_name}}</td>
                    <td>{{this.count}}</td>
                    <td>{{this.trans_total}}</td>
                </tr>
                {{/each}}
            </tbody>
        </table>

        <p class="h4 my-3 text-warning">Top Ninjas by Sells</p>
        <table id='' class="display table-striped  my-5">
            <thead class="bg-warning">
                <tr>
                    <th scope="col">Ninja</th>
                    <th scope="col">Sells</th>
                    <th scope="col">Total</th>

                </tr>
            </thead>
            <tbody>
                {{#each sell_results}}
                <tr>
                    <td>{{this.user_name}}</td>
                    <td>{{this.count}}</td>
                    <td>{{this.trans_total}}</td>

                </tr>
                {{/each}}
            </tbody>
        </table>

        <p class="h4 my-3 text-danger">Top Tickers by Buys</p>
        <table id='' class="display table-striped  my-5">
            <thead class="bg-danger">
                <tr>
                    <th scope="col">Ticker</th>
                    <th scope="col">Buys</th>
                    <th scope="col">Total</th>


                </tr>
            </thead>
            <tbody>
                {{#each ticker_buys}}
                <tr>

                    <td>{{this.ticker}}</td>
                    <td>{{this.count}}</td>
                    <td>{{this.total}}</td>


                </tr>
                {{/each}}
            </tbody>
        </table>

        <p class="h4 my-3 text-secondary">Top Tickers by Sells</p>
        <table id='' class="display table-striped  my-5">
            <thead class="bg-secondary">
                <tr>
                    <th scope="col">Ticker</th>
                    <th scope="col">Sells</th>
                    <th scope="col">Total</th>

                </tr>
            </thead>
            <tbody>
                {{#each ticker_sells}}
                <tr>
                    <td>{{this.ticker}}</td>
                    <td>{{this.count}}</td>
                    <td>{{this.total}}</td>

                </tr>
                {{/each}}
            </tbody>
        </table>


    </div>

</body>

</html>